
html,
body {
 /* font-family: 'Oxygen', sans-serif;*/
  font-size: 14px;
  height: 100%; 
  /* The html and body elements cannot have any padding or margin. */
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding: 0 0;
}

#wrap > .container {
  padding: 60px 0 0;
  width: 100%;
}

#wrap > .no-navbar-container {
  padding: 0;
  width: 100%;
}

.report-container {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
}

.saiku-container {
}

form span.has-error {
  color: #a94442;
}

.form-horizontal .form-group {
  margin-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-md-10 {
  padding-left: 0;
  padding-right: 5px;
}

.sidebar-nav {
  padding-left: 0;
  padding-right: 0;
}

.no-navbar-container .sidebar-nav {
  margin-top: 5px;
}

.sidebar-nav li.active {
  /* padding-left: 3px; */
}

.sidebar-nav li.active {
  background-color: #dcdcdc;
  /* text-decoration: underline; */
  border-left: 3px solid;
  padding-left: 0;
}

.sidebar-nav li a {
  background-color: #fff;
  padding-left: 20px;
  border-top: 1px solid #ddd;
}

.sidebar-nav li.active a {
  /* margin-left: -3px; */
  padding-left: 17px;
}

.sidebar-nav li a:hover {
  /* text-decoration: underline; */
}

.sidebar-nav .panel-body {
  padding: 0;
}

.sidebar-nav .panel-body .table {
  margin-bottom: 0;
}

.sidebar-nav .panel-group {
  margin-bottom: 0;
}

.sidebar-nav li.nav-header {
	padding: 10px;
}

.sidebar-nav .panel-heading .badge {
  padding: 2px 5px 2px 5px;
  font-size: 9px;
  background-color: #777;
}

.sidebar-nav .panel-heading {
  padding: 0;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.sidebar-nav .panel-heading a {
  display: block;
  padding: 10px 0 10px 10px;
  width: 100%;
  height: 100%;
}

.sidebar-nav a:hover,
.sidebar-nav a:focus,
.sidebar-nav a:active,
.sidebar-nav a:visited {
  text-decoration: none;
}

.sidebar-nav .table td {
  padding: 0;
}

.sidebar-nav table a {
  display: block;
  padding: 8px 0 8px 20px;
  width: 100%;
  height: 100%;
}

.sidebar-nav table a.active {
  border-left: 3px solid #333;
  padding-left: 17px;
}

.sidebar-nav .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}

.sidebar-nav {
  padding-top: 0;
  /* padding-bottom: 19px; */
  margin-bottom: 0;
}

#reportParamsForm label {
  /* min-width: 80px;
  text-align: right; */
  display: inline;
  font-weight: normal;
  font-size: 12px;
}

#reportParamsForm label.paginate {
  min-width: 30px;
  text-align: right;
}

#reportParamsForm .checkbox > label  {
  min-width: 140px;
  text-align: left;
  display: inline-block;
}

#reportParamsForm input.form-control {
  width: 100px;
  height: 30px;
}

#reportParamsForm .form-group.paginate input {
  width: 70px;
}

#reportParamsForm .multipled{
	width: 100px;
}
#reportParamsForm .form-group {
	padding: 5px;
}

.navbar .container {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .navbar .container {
    width: 880px;
  }
}

@media (max-width: 992px) {
  .container .col-md-2 {
    max-width: 240px;
  }
 
  #main-content .report-title-bar {
    margin-top: 8px;
  }
}

#main-content .report-title-bar {
  margin-bottom: 10px;
}

.container .col-md-2, #main-content .col-md-12 {
  padding-left: 10px;
  padding-right: 10px;
}

#main-content.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

#menu_accordion .panel-title{
	 font-size: 12px;
}

#rowId .navbar-brand {
	font-size: 15px;
	height: 30px;
	padding-top: 5px;
}

#rowId .navbar{
	margin-bottom: 5px;
	min-height: 35px;
}

#rowId .navbar-toggle {
	margin-top: 5px;
	margin-bottom: 5px;
}

#rowId .navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}